body{
font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6,h1,h2,h3,h4,h5,h6{
font-family: 'Noto Sans TC',sans-serif;
text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}
.expedu_icon {
    color: #495057;
}
.expedu_icon:hover {
    background-color: #495057;
    color: #da92aa;
}

:root{
    --bs-primary: #0b00a6;
    --bs-primary-rgb: 11, 0, 166;
    --bs-secondary: #c07300;
    --bs-secondary-rgb: 238, 143, 0;
}
.expedu_icon:hover {
    color: var(--bs-secondary);    
}
a{
    color: var(--bs-primary);
}
.social-icons .social-icon:hover{
    background-color: var(--bs-secondary);
}

li{
    list-style-type: disc;
    background: color #add8e6;
    list-style-position:inside;
}
li:nth-child(even){
    background: color #8fbc8b;
}

dt {
    font-size:150%
}
dd{
    color:#495057;
}

table{
    width: 60%;
    margin: 0 auto;
}
ol>li:hover {
   background-color: #d9ccef;
}


table {width: 80%;}
th, td {text-align: justify;}








